---
import heroBg from '../../assets/hero.jpg';
---

<section 
  class="relative bg-white lg:grid lg:h-screen lg:place-content-center bg-cover bg-center"
  style={`background-image: url(${heroBg.src});`}
>
  <!-- Overlay for readability -->
  <div class="absolute inset-0 bg-black/10"></div>

  <div
    class="relative mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 md:grid md:grid-cols-2 md:items-center md:gap-4 lg:px-8 lg:py-32"
  >
    <div class="max-w-prose text-left text-white">
      <h1 class="text-4xl font-bold sm:text-5xl">
        Discover <strong class="text-hiroshima-300">Hiroshima</strong> at your own pace
      </h1>

      <p class="mt-4 text-base text-pretty sm:text-lg/relaxed">
        <em>hiroshima.travel</em> is your go-to for virtual walking tours guided by locals. A small business run with care by Yuka and Thomas, bringing Hiroshima’s heart right to you.
      </p>

      <div class="mt-4 flex gap-4 sm:mt-6">
        <a
          class="inline-block rounded border border-hiroshima-600 bg-hiroshima-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-hiroshima-700"
          href="#"
        >
          Get Started
        </a>

        <a
          class="inline-block rounded border border-white px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-white hover:text-gray-900"
          href="#"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
